/* Editor styles can be added to your global CSS */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Add styling for code blocks */
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

/* Add styling for the heading levels */
.ProseMirror h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.ProseMirror h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.ProseMirror h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Add styling for the lists */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5em;
}

.ProseMirror li {
  margin-bottom: 0.5em;
}

/* Add styling for the links */
.ProseMirror a {
  color: #007bff;
  text-decoration: underline;
} 